@font-face {
    font-family: "Avenir";
    src: url("../fonts/AvenirLTStd-Book.otf") format("otf");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Avenir";
    src: url("../fonts/AvenirLTStd-Roman.otf") format("otf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Avenir";
    src: url("../fonts/Metropolis-Medium.otf") format("otf");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Avenir";
    src: url("../fonts/AvenirLTStd-Black.otf") format("otf");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Gotham";
    src: url("../fonts/GothamBook.ttf") format("ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Gotham";
    src: url("../fonts/GothamBold.otf") format("otf");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Gotham";
    src: url("../fonts/GothamBlack.otf") format("otf");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Gotham";
    src: url("../fonts/GothamBookItalic.otf") format("otf");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Gotham";
    src: url("../fonts/GothamLight.otf") format("otf");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Gotham";
    src: url("../fonts/GothamThin.otf") format("otf");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Gotham";
    src: url("../fonts/GothamThinItalic.otf") format("otf");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "Gotham";
    src: url("../fonts/GothamUltraItalic.otf") format("otf");
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: "Gotham";
    src: url("../fonts/GothamXLight.otf") format("otf");
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: "Gotham";
    src: url("../fonts/GothamXLightItalic.otf") format("otf");
    font-weight: lighter;
    font-style: italic;
}
