@font-face {
    font-family: "Avenir";
    src: url("../fonts/AvenirLTStd-Book.otf") format("otf");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Avenir";
    src: url("../fonts/AvenirLTStd-Roman.otf") format("otf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Avenir";
    src: url("../fonts/AvenirLTStd-Black.otf") format("otf");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Bold.ttf") format("ttf");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Regular.ttf") format("ttf");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Thin.ttf") format("ttf");
    font-weight: 300;
    font-style: normal;
}
