@mixin vertical-right-text {
    display: flex;
    flex-direction: column;
    text-align: right;
}

@mixin layout-hover-link {
    text-decoration: underline;
    text-underline-offset: 5px;
    background-color: $page-color;
    color: $text-color;
}
